@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

:root {
  --background-color: #dddddd;
  --foreground-color: #003cff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #0a0a0a;
  --secondary-color: #ffffff;
  --toggle-bg-color: #f0eb9d;
  --toggle-fg-color: #ffd000;
  --btn-hover-text-color: #ffffff;
}

[data-theme="dark"] {
  --background-color: #0a0a0a;
  --foreground-color: #567aff;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --secondary-color: #f6be00;
  --toggle-bg-color: #d9d9d6;
  --toggle-fg-color: #8a8d8f;
  --btn-hover-text-color: #0a0a0a;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  transition: background-color 250ms ease-in-out;
}
